<h1>Vehicle</h1>


<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Vehicle</a></li>
  <li role="presentation"><a href="#photos" aria-controls="basic" role="tab" data-toggle="tab">Photos</a></li>
</ul>

<div class="tab-content" *ngIf="vehicle">
  <div role="tabpanel" class="tab-pane active" id="basic">
    <h2>Basics</h2>
    <ul>
      <li>Make: {{vehicle.make.name}}</li>
      <li>Model: {{vehicle.model.name}}</li>
      <li>Registered: {{vehicle.isRegistered}}</li>
    </ul>
    
    <h2>Features</h2>
    <ul>
      <li *ngFor="let f of vehicle.features">{{f.name}}</li>
    </ul>
    
    <h2>Contact</h2>
    <ul>
      <li>Contact Name: {{vehicle.contact.name}}</li>
      <li>Contact Phone: {{vehicle.contact.phone}}</li>
      <li>Contact Email: {{vehicle.contact.email}}</li>
    </ul>
  </div>
  
  <div role="tabpanel" class="tab-pane" id="photos">
    <h2>Photos</h2>
    <input type="file" (change)="uploadPhoto()" #fileInput>
  </div>

  <button type="button" class="btn btn-primary" [routerLink]="['/vehicles', vehicle.id, 'edit']">Edit</button>
  <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
  <button type="button" class="btn" [routerLink]="['/vehicles']">View All Vehicles</button>
</div>
